{{ autogen_header }}
{{ import_lines }}
{% if import_lines and inline_constant_names %}

{% endif -%}
{% for name in inline_constant_names %}
{{ name }}: str
{%- endfor %}
{% if all_lines and (import_lines or inline_constant_names) %}

{% endif -%}
{% if all_lines %}
__all__ = (
{{ all_lines }}
)
{% endif %}
