{%- if publish_all %}
install_lazy_exports(
    __name__,
    globals(),
    _LAZY_IMPORTS,
    public_exports=(
{%- for export_name in exports %}
        "{{ export_name }}",
{%- endfor %}
    ),
)

__all__: tuple[str, ...] = (
{%- for export_name in exports %}
    "{{ export_name }}",
{%- endfor %}
)
{%- else %}
{%- if eager_export_names %}
install_lazy_exports(
    __name__,
    globals(),
    _LAZY_IMPORTS,
    [
{%- for export_name in eager_export_names %}
        "{{ export_name }}",
{%- endfor %}
    ],
    publish_all=False,
)
{%- else %}
install_lazy_exports(__name__, globals(), _LAZY_IMPORTS, publish_all=False)
{%- endif %}
{%- endif %}
