{{ autogen_header }}
{{ docstring }}

from __future__ import annotations

from types import MappingProxyType
{%- if type_checking_lines %}
from typing import TYPE_CHECKING
{%- endif %}

{{ runtime_import_lines }}
{% if type_checking_lines %}
{{ type_checking_lines }}

{% endif %}
__all__: tuple[str, ...] = {{ exports_tuple }}

install_lazy_exports(
    __name__,
    globals(),
{{ lazy_export_mapping }}
    public_exports=__all__,
)
