{%- if runtime_import_lines %}
{{ runtime_import_lines }}

{% endif %}
{%- if child_lazy_import_lines %}
{{ child_lazy_import_lines }}

{% endif %}
{%- if type_checking_lines %}
{{ type_checking_lines }}
{% endif %}
{%- for name, value in inline_constants %}
{{ name }} = "{{ value }}"
{%- endfor %}
{%- if inline_constants %}

{% endif %}
_LAZY_IMPORTS: Mapping[str, str | Sequence[str]] = {
{%- for alias_name in child_lazy_aliases %}
    **{{ alias_name }},
{%- endfor %}
{%- for name, mod, attr in lazy_entries %}
{%- if attr == name or attr == "" %}
    "{{ name }}": "{{ mod }}",
{%- else %}
    "{{ name }}": ["{{ mod }}", "{{ attr }}"],
{%- endif %}
{%- endfor %}
}
