{%- if runtime_import_lines %}
{{ runtime_import_lines }}

{% endif %}
{%- for name, value in inline_constants %}
{{ name }} = "{{ value }}"
{%- endfor %}
{%- if inline_constants %}

{% endif %}
import typing as _t

{%- if type_checking_lines %}
{{ type_checking_lines }}
{%- endif %}

{%- if child_module_paths %}
_LAZY_IMPORTS = merge_lazy_imports(
    (
{%- for child_module_path in child_module_paths %}
        "{{ child_module_path }}",
{%- endfor %}
    ),
    {
{%- for name, mod, attr in lazy_entries %}
{%- if attr == name or attr == "" %}
        "{{ name }}": "{{ mod }}",
{%- else %}
        "{{ name }}": ("{{ mod }}", "{{ attr }}"),
{%- endif %}
{%- endfor %}
    },
)
{%- else %}
_LAZY_IMPORTS = {
{%- for name, mod, attr in lazy_entries %}
{%- if attr == name or attr == "" %}
    "{{ name }}": "{{ mod }}",
{%- else %}
    "{{ name }}": ("{{ mod }}", "{{ attr }}"),
{%- endif %}
{%- endfor %}
}
{%- endif %}

{%- if exports %}

__all__ = [
{%- for export in exports %}
    "{{ export }}",
{%- endfor %}
]
{%- endif %}
