"""{{ docstring }}"""

from __future__ import annotations

from {{ base_module }} import {{ base_class }}


class {{ class_name }}({{ base_class }}):
    """{{ docstring }}"""


__all__: list[str] = ["{{ class_name }}"]
