"""Test models namespace for {{ package_name }}.

Copyright (c) {{ year }} {{ author_name }}. All rights reserved.
SPDX-License-Identifier: MIT
"""

from __future__ import annotations

from flext_tests import m


class Tests{{ class_stem }}Models(m):
    """{{ class_stem }} test models namespace."""

    class {{ ns }}:
        """Project-specific test models."""


m = Tests{{ class_stem }}Models

__all__: list[str] = ["Tests{{ class_stem }}Models", "m"]
