"""Test protocols namespace for {{ package_name }}.

Copyright (c) {{ year }} {{ author_name }}. All rights reserved.
SPDX-License-Identifier: MIT
"""

from __future__ import annotations

from flext_tests import p


class Tests{{ class_stem }}Protocols(p):
    """{{ class_stem }} test protocols namespace."""

    class {{ ns }}:
        """Project-specific test protocols."""


p = Tests{{ class_stem }}Protocols

__all__: list[str] = ["Tests{{ class_stem }}Protocols", "p"]
