
      - name: Save tool caches
        if: {% raw %}${{ always() && steps.tool-cache.outputs.cache-hit != 'true' }}{% endraw %}
        uses: {{ github_actions["cache"].repository }}/save@{{ github_actions["cache"].version }}
        with:
          path: |
{% include "_fragments/toolchain_cache_paths.j2" %}
          key: {% raw %}${{ runner.os }}-{% endraw %}{{ python_version }}{% raw %}-tools-${{ hashFiles('uv.lock', 'mise.lock', 'pyproject.toml') }}{% endraw %}
