{% from "docker_mise_bootstrap.j2" import docker_header, docker_apt_seed, docker_bootstrap_proof with context -%}
{{ docker_header("ubuntu.Dockerfile.j2", "Ubuntu") }}
FROM ubuntu:24.04

{{ docker_apt_seed() }}

{{ docker_bootstrap_proof('["make", "help"]') }}
